html {
  font-family: verdana;
  background-color: black;
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}

h3 {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 21px;
  color: gray;
}

video {
  align-content: center;
}

image {
  align-content: center;
}

.copyright {
  text-align: right;
}
